<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="style/css/main.css">
    <link rel="stylesheet" href="style/css/courses.css">
    <link rel="stylesheet" href="style/css/teacher.css">

    <!-- <script src="style/js/courses.js"></script> 
    <script src="style/js/teacher.js"></script> -->
    <script src="style/js/main.js"></script>

</head>
<body>
<div class="main">    
    <img class="imgbrain" src="/style/img/brain.png">
    <form class='fbrain' action='/main'>
        <button class="brain">BRAIN HACK</button>
    </form>

    <!-- <form class='fcourse' action = "/courses">  -->
        <button class="courses" onclick="getCoursesPage()" >COURSES</button>
    <!-- </form> -->

    <!-- <form class='fteacher' action = "/teacher"> -->
        <button class="teacher" onclick="getTeacherPage()">TEACHER</button>
    <!-- </form> -->

    <!-- <form class='fenroll' action ='/enroll'> -->
        <button class="mycourses" onclick="getEnrollPage()">MY COURSES</button>
    <!-- </form> -->

    <form class='logout' action = "/logout">
        <button class="login" action ="/logout" >LOGOUT/LOGIN</button>
    </form>

    <form class='register' action = "/register">
        <button class="login" action ="/register">REGISTRATION</button>
    </form>
</div>


<div id="page"> 

</div>

</body>
</html>