h1{
    color: hotpink;
}

body{
    background: url(/style/img/main.png);
    /* color: #8EC9D8; */
    font-family: 'Montserrat', sans-serif;
}

.main{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px; 
    width: 100%; 
    background: #131D47; 
    justify-content: start;
}

.imgbrain{
    width: 50;
    height: 50;
    margin-left: 7;
    margin-top: 5;
}

.fbrain{
    margin-top: 25;
    font-size: 25px;
    
}
.brain{
    border: yellowgreen;
    background: none;
    /* width: 250px; */
    font-size: 14px;   
    color: #5DDADB  
}

.courses{
    border: none;
    background: none;
    width: 150px; 
    /* margin-top: 15; */
    font-size: 25px;
    margin-left: 35;
    color: #5DDADB
}
.teacher{
    border: none;
    background: none;
    width: 150px;
    /* margin-top: 15; */
    font-size: 25px;
    margin-left: 35;
    color: #5DDADB   
}

.mycourses{
    border: none;
    background: none;
    width: 150px;
    font-size: 25px;
    margin-left: 35;
    color: #5DDADB   
}
.chat{
    border: none;
    background: none;
    width: 150px;
    font-size: 25px;
    margin-left: 35;
    color: #5DDADB  
}

.login{
    border: none;
    background: none;
    width: 150px;
    font-size: 25px;
    margin-left: 35;
    color: #5DDADB   
    }

.logout{
    margin-top: 15;
    font-size: 25px;
    margin-left: 100;
}

.register{
    margin-top: 15;
    font-size: 25px;
    margin-left: 70;
}

.paget{
    margin-top: 60px; 
    display: flex;
}

.contentSec, #maindiv{
    display: flex;
    justify-content: start;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    width: 18%;
    margin-top: 15px;
    margin-left: 5px;
    background: #ED5FBA;
    border-radius:  0.25rem;
}


#imgTea{
    width: 100%;
    height: 100p;
    display: block;
    margin: 0 auto;
    border-radius: 0.25rem;
}

.deleteTeacher, .editTeacher {
    background-color: #8EC9D8; /* Green */
    border: none;
    color: white;
    padding: 11px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 0.25rem;
    
}

.deleteTeacher, .editTeacher {
    font-family: 'Montserrat', sans-serif;
    background-color: #9471BA; 
    color: #ffffff; 
    border: 3px solid #b6a2cb;
}

.deleteTeacher:hover, .editTeacher:hover {
    font-family: 'Montserrat', sans-serif;
    background-color: #c4aedb;
    color: white; 
    border: none          
} 

/* добавление новых записей */
#Addsubject, #Addphoto, #Addtname{
    display: block;
    margin-bottom: 0.25rem;
}
#Addsubject, #Addphoto, #Addtname{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#Addsubject::placeholder, #Addphoto::placeholder, #Addtname::placeholder {
    color: #212529;
    opacity: 0.4;
}

#Addsubject:focus, #Addphoto:focus, #Addtname:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;

    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

#Addsubject:disabled,#Addsubject[readonly], 
#Addphoto:disabled, #Addlanguage[readonly],
#Addtname, #Addtname[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
}


/*  #Addsubject #Addphoto #Addtname */

/* кнопка добавления */

.addbuttonTeacher {
    background-color: #8EC9D8; 
    border: none;
    color: white;
    padding: 11px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 0.25rem;
    width: 100;
    margin-left: 30;
    
}
.addbuttonTeacher {
    font-family: 'Montserrat', sans-serif;
    background-color: #9471BA; 
    color: #ffffff; 
    border: 3px solid #b6a2cb;
}
.addbuttonTeacher:hover {
    font-family: 'Montserrat', sans-serif;
    background-color: #c4aedb;
    color: white; 
    border: none          
} 

#ADD{    
    display: flex;
    justify-content: start;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    
    margin-top: 68px;
    margin-left: 5px;
    width: 320;
    /* background: #ED5FBA; */
    border-radius:  0.25rem;
    padding: 8;
}